<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="client.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<form id="test">
    <div class="form-group">
        <label>Username:</label><br/>
        <input type="text" class="form-control" placeholder="Enter the new username" required><br/>
        <label>Password:</label><br/>
        <input type="password" class="form-control" placeholder="Please enter your password" required><br/>
        <label>name:</label><br/>
        <input type="name" class="form-control" placeholder="Enter your name" required><br/>
        <label>email:</label><br/>
        <input type="email" class="form-control" placeholder="Email" required><br/>
        <label>age:</label>
        <input type="number" class="form-control" min="0" max="100" required><br/>
        <label>gender:</label><br/>
        <select class="form-control" >
            <option value="male">male</option>
            <option value="female">female</option>
        </select><br/>
        <label>company:</label>
        <input type="text" class="form-control" placeholder="Enter your company name" required><br/>
        <label>photo:</label><br/>
        <input type="tel" class="form-control" placeholder="+1 (955) 528-2209" required><br/>
        <label>address:</label><br/>
        <input type="text" class="form-control" placeholder="121 Dikeman Street, Falmout" required><br/>
        <label>Toys:</label><br/>
        <select class="form-control" >
            <option value="gundam">gundam</option>
            <option value="PS4">PS4</option>
            <option value="switch">switch</option>
            <option value="XBox">XBox</option>
        </select><br/>
        <label>Quantities:</label><br/>
        <input type="number" min="0" max="10" class="form-control"  required>
        <div class="form-group">
            <button ng-click="Inserttestdata()">Insert to database</button>
</form>


</body>
</html>