<!DOCTYPE html>
<html lang="en" ng-app="clientside">
<head>
    <meta charset="UTF-8">
    <title>client side</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="client.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div ng-controller="myside">
<span ng-controller="loginusers">
    <form ng-show="!log">
        <label> Username:</label>
      <input type="text" ng-model="loginuser" ng-show="log!=true" required>
      <label>password:</label> <input type="password" ng-model="loginpassword" ng-show="log!=true" required>
      <input type="submit" class="btn btn-default" value="Login" ng-click="logins()" ng-show="log!=true">
      <input type="reset" class="btn btn-primary" value="reset">
    </form>
    <span ng-show="log">Hello {{loginusers}}!</span><br/>
    <br/>
    </span>
    <h1>Show the user data</h1>
<table ng-if="userList != null " class="table table-hover" ng-hide="userList==null">
    <tr>
        <th>id</th>
        <td>username</td>
        <td>name</td>
        <td>company</td>
        <td>email</td>
    </tr>
    <label>Search filter:</label><br/>
    <input type="text" ng-model="search">
    <tr ng-repeat= "usersdata in userList | filter: search track by $index">
        <td>{{userList.indexOf(usersdata)}}</td>
        <td>{{usersdata.username}}</td>
        <td>{{usersdata.name}}</td>
        <td>{{usersdata.company}}</td>
        <td>{{usersdata.email}}</td>
    </tr>
</table>
<button class="btn btn-default" ng-click="displayuser()">show User data</button><br/>
<br/>
</div>



<div ng-controller="adduser" class="form-group" ng-form="testForm">
    <h1>Insert the data to database</h1>
        <label>username:</label><br/>
        <input type="text" class="form-control" name="username" placeholder="username" ng-model="username1" required/><br/>
        <label>password:</label><br/>
        <input type="password" class="form-control" name="password" placeholder="password" ng-model="password1" required/><br/>
        <label>name:</label><br/>
        <input type="text" class="form-control" name="name" placeholder="name" ng-model="name1" required/><br/>
        <label>email:</label><br/>
        <input type="email" class="form-control" name="email" placeholder="email" ng-model="email1" ng-pattern="/^([a-zA-Z0-9])+([a-zA-Z0-9._%+-])+@([a-zA-Z0-9_.-])+\.(([a-zA-Z]){2,6})$/" required/><br/>
        <label>age:(You must enter range 20 to 100)</label>
        <input type="number" class="form-control" name="age"  ng-pattern="/^[0-9]{1,2}$/" min="20" max="65" placeholder="age" ng-model="age1" required/><br/>
        <label>company:</label>
        <input type="text" class="form-control" name="company"   placeholder="Enter your company name" ng-model="company1" required><br/>
        <label>phone:</label><br/>
        <input type="tel" class="form-control"  name="phone" placeholder="+1 (955) 528-2209" ng-model="phone1" required><br/>
        <label>address:</label><br/>
        <input type="text" class="form-control"  name="address" placeholder="121 Dikeman Street, Falmout" ng-model="address1" required><br/>
        <input type="button" class="btn" value="Add user" ng-click="Inserttestdata()" ng-disabled="Form.$invalid"/>
        <input type="reset" class="btn btn-primary" value="reset"/>
</div>



<br/>
<br/>

        
<div ng-controller="updateuser" class="form-group" ng-form="myForm" ng-show=log>
    <h1>Update user information</h1>
        <label>userid:</label>
        <input type="number" min="0" name="userid" placeholder="enter userid" ng-model="userid2" required><br/>
        <label>username:</label><br/>
        <input type="text" class="form-control" name="username" placeholder="username" ng-model="username2" required/><br/>
        <label>password:</label><br/>
        <input type="password" class="form-control" name="password" placeholder="password" ng-model="password2" required/><br/>
        <label>name:</label><br/>
        <input type="text" class="form-control" name="name" placeholder="name" ng-model="name2" required/><br/>
        <label>email:</label><br/>
        <input type="email" class="form-control" name="email" placeholder="email" ng-model="email2" ng-pattern="/^([a-zA-Z0-9])+([a-zA-Z0-9._%+-])+@([a-zA-Z0-9_.-])+\.(([a-zA-Z]){2,6})$/" required/><br/>
        <label>age: (You must enter range 20 to 100) </label>
        <input type="number" class="form-control" name="age"  min="20" max="65" ng-pattern="/^[0-9]{1,2}$/"placeholder="age" ng-model="age2"required/><br/>
        <label>company:</label>
        <input type="text" class="form-control" name="company"   placeholder="Enter your company name" ng-model="company2" required><br/>
        <label>phone:</label><br/>
        <input type="tel" class="form-control"  name="phone" placeholder="+1 (955) 528-2209" ng-model="phone2" required><br/>
        <label>address:</label><br/>
        <input type="text" class="form-control"  name="address" placeholder="121 Dikeman Street, Falmout" ng-model="address2" required><br/>
        <input type="button" value="update" ng-click="update()" ng-disabled="myForm.$invalid"/>
                <input type="reset" class="btn btn-primary" value="reset"/>
</div>
<br/>

<div ng-controller="delete" class="form-group" ng-form="test" ng-show="log">
    <h1>Delete the User data</h1>
    <label>userid:</label><br/>
    <input ng-model="id" min="0" placeholder="input userid to delete user data">
    <br/>
    <button ng-click="deletuser()" ng-disabled="test.$invalid"/>deletuser</button><br/>
    <input type="reset" value="reset"/>
</div>

</body>
</html>